[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_ublue
Icon=distributor-logo
Name=Aurora Preferences
