polkit.addRule(function(action, subject) {
    if ((action.id == "org.ublue.policykit.rebase") &&
         subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
