[Unit]
Description=Rebase helper service used in Universal Blue KCM

[Service]
Type=oneshot
ExecStart=/usr/libexec/ublue-rebase %I

[Install]
WantedBy=multi-user.target
